﻿@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #f3f5f9;
    background: url("https://i.ytimg.com/vi/mYrKAMLbjYA/maxresdefault.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main_content {
    padding-left: 250px;
}

.wrapper {
    display: flex;
    position: relative;
}

    .wrapper .sidebar {
        width: 250px;
        height: 100%;
        background: #4b4276;
        padding: 30px 0px;
        position: fixed;
    }

        .wrapper .sidebar h2 {
            color: #fff;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 30px;
        }

        .wrapper .sidebar ul li {
            padding: 15px;
            border-bottom: 1px solid #bdb8d7;
            border-bottom: 1px solid rgba(0,0,0,0.05);
            border-top: 1px solid rgba(255,255,255,0.05);
        }

            .wrapper .sidebar ul li a {
                color: #bdb8d7;
                display: block;
            }

                .wrapper .sidebar ul li a .fas {
                    width: 25px;
                }

            .wrapper .sidebar ul li:hover {
                background-color: #594f8d;
                text-decoration: none;
                
            }

                .wrapper .sidebar ul li:hover a {
                    color: #fff;
                    text-decoration: none;  
                }

        .wrapper .sidebar .social_media {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-10%);
            display: flex;
        }

            .wrapper .sidebar .social_media a {
                display: block;
                width: 40px;
                background: #594f8d;
                height: 40px;
                line-height: 45px;
                text-align: center;
                margin: 0 5px;
                color: #bdb8d7;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

        .wrapper .sidebar .foot {
            position: absolute;
            bottom: 0;
            left: 15%;
            transform: translateX(-10%);
            display: flex;
        }
            .wrapper .sidebar .foot a {
                display: block;
                background: #594f8d;
                height: 60px;
                width: 200px;
                line-height: 45px;
                text-align: center;
                margin: 0 5px;
                color: #bdb8d7;
            }


            .wrapper .sidebar .foot a:hover {
                text-decoration: none;
                color: #fff;
            }

            .wrapper .main_content {
                width: 100%;
                margin-left: 250px;
            }

        .wrapper .main_content .header {
            padding: 20px;
            background: #fff;
            color: #717171;
            border-bottom: 1px solid #e0e4e8;
        }

        .wrapper .main_content .info {
            margin: 20px;
            color: #717171;
            line-height: 25px;
        }

            .wrapper .main_content .info div {
                margin-bottom: 20px;
            }


.about {
    width: 850px;
    overflow: auto;
    margin: auto;
    padding-top: -10%;
    animation: fadeIn ease 2.5s;
    -webkit-animation: fadeIn ease 2.5s;
    -moz-animation: fadeIn ease 2.5s;
    -o-animation: fadeIn ease 2.5s;
    -ms-animation: fadeIn ease 2.5s;
}
    .about h1 {
        text-align: center;
        color: white;
        margin-top: 15%;
        position: relative;
    }

    .about h3 {
        padding-top: 30px;
        text-align: center;
        color: white;
        position: relative;
    }

.social-icons {
    width: 300px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 0;
    list-style: none;
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
}

    .social-icons li {
        display: inline-block;
    }

        .social-icons li.title {
            margin-right: 15px;
            text-transform: uppercase;
            color: #96a2b2;
            font-weight: 700;
            font-size: 13px
        }

    .social-icons a {
        color: white;
        font-size: 32px;
        display: inline-block;
        line-height: 50px;
        width: 50px;
        height: 50px;
        text-align: center;
        margin-right: 8px;
        border-radius: 100%;
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear
    }

        .social-icons a:active, .social-icons a:focus, .social-icons a:hover {
            color: #fff;
            background-color: #29aafe
        }

    .social-icons.size-sm a {
        line-height: 34px;
        height: 34px;
        width: 34px;
        font-size: 14px
    }

    .social-icons a.facebook:hover {
        background-color: #3b5998
    }

    .social-icons a.twitter:hover {
        background-color: #00aced
    }

    .social-icons a.snapchat:hover {
        background-color: #f5f103
    }

    .social-icons a.instagram:hover {
        background-color: #ea4c89
    }

    .social-icons a.youtube:hover {
        background-color: #ff0000
    }

.slider-container {
    width: 100%;
    height: 100%;
    position: fixed; /* add this code for position fixed */
    top: 0px; /* set top and left 0 */
    left: 0px;
}

.slider-item-div {
    padding: 20px;
    background-color: white;
    text-align: center;
    height: 100%;
    width: 100%;
}

.carousel-style {
    height: 100% !important;
}

.signUpForm {
    padding-left: 350px;
    margin-top: 180px;
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

.signInForm {
    padding-left: 350px;
    margin-top: 180px;
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

.gameRoot {
    max-width: 345px;

}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px 25px;

}

/* Remove extra left and right margins, due to padding in columns */
.row {
    margin: 0 -5px;
}

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

.gamesContainer {
    padding-left: -10%;
    margin-top: 30px;

}
